.following-list {
  .header {
    font-size: 16px;
    margin: 0 15px 15px 15px;
    color: #715050;
  }

  .name-col {
    width: 20%;
  }
  .location-col {
    width: 10%;
  }
  .company-col {
    width: 10%;
  }
  .occupation-col {
    width: 10%;
  }
  .no-of-followers-col {
    width: 10%;
  }
}
