.profile {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  .back-to-search {
    font-size: 16px;
    font-weight: bolder;
    color: lightskyblue;
    cursor: pointer;
    background: #191919;
    padding: 10px 15px;

    &:hover {
      text-decoration: underline;
      color: lightgreen;
    }
  }

  h1 {
    background: #191919;
    margin: auto;
    padding: 20px;
    color: white;
  }

  .no-results {
    margin: 20px;
    color: red;
  }
}
