.project-list {
  img {
    width: 80px;
    height: 80px;
  }

  .preview-col {
    width: 6%;
  }
  .name-col {
    width: 20%;
  }
  .published-on-col {
    width: 10%;
  }
  .no-of-views-col {
    width: 10%;
  }
  .no-of-appreciations-col {
    width: 10%;
  }
}
