.basic-info {
  position: relative;
  width: 100%;
  height: 90%;

  label {
    font-size: 16px;
    margin-right: 5px;
    color: #715050;
  }

  .basic-info__profile-pic-container {
    position: relative;
    padding: 15px;
    width: 250px;
    height: 100%;
    float: left;

    .profile-pic {
      width: 232px;
      height: 232px;
      box-sizing: border-box;
      border: 1px dashed #ccc;
      img {
        width: 100%;
        height: 100%;
      }
      div {
        font-style: italic;
        padding: 90px 30px;
        text-align: center;
      }
    }
  }
  .basic-info__content {
    position: relative;
    height: 100%;
    float: left;
    padding: 15px;

    .user-info {
      line-height: 20px;

      span {
        margin-right: 10px;
      }

      .social-links {
        a {
          margin-right: 10px;
        }
      }
    }

    .stats {
      margin-top: 15px;

      ul {
        padding: 0;
        list-style-type: none;

        li {
          padding-left: 15px;
        }
      }
    }
  }
}
