.work-experience {
  .position-col {
    width: 20%

  }
  .organization-col {
    width: 20%
  }
  .location-col {
    width: 20%
  }
  .start_date-col {
    width: 10%
  }
  .end_date-col {
    width: 10%
  }

}
