$trigger-box-height: 40px;

.simple-drop-down {
  position: relative;
  box-sizing: border-box;
  width: 250px;
  height: $trigger-box-height;
  border: 1px solid #ccc;
  line-height: $trigger-box-height;
  margin: auto;
  cursor: pointer;
  font-size: 14px;
  // transition: all 0.30s ease-in-out;
  padding: 0 15px;
  border-radius: 4px;

  .simple-drop-down__trigger {
    height: 100%;
    width: 100%;
    float: left;

    .caret {
      position: absolute;
      top: 0;
      right: 10px;
    }
  }

  .menu {
    list-style-type: none;
    position: absolute;
    top: $trigger-box-height - 2;
    left: 0;
    max-height: 300px;
    min-height: 40px;
    width: 100%;
    overflow: auto;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    text-align: left;
    box-sizing: border-box;
    background: white;

    li {
      padding-left: 15px;

      &:hover {
        background: dodgerblue;
        color: white;
      }
    }
  }
}
