.tabs {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  .tab-list {
    border-bottom: 1px solid #ccc;
    padding: 5px 5px 0px 5px;
    box-sizing: border-box;
    margin: 15px;
  }

  .tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
  }

  .tab-list-active {
    background-color: #ccc;
    color: #521616;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
    border-radius: 4px;
  }

  .tab-content {
    position: relative;
    padding: 15px;
    width: 100%;
    height: calc(100% - 220px);
    box-sizing: border-box;
    overflow: auto;

    .hidden {
      display: none;
    }
  }
}
