#app {
  background: #fff;
  color: #2d3436;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Verdana, Arial, serif;
  overflow: auto;

  .container {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  table {
    width: 95%;
    margin: auto;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    text-align: left;
  }

  td, th {
    padding: 8px;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: darkgray;
    color: white;
  }

  tr {
    line-height: 30px;

    &:nth-child(even) {
      background-color: gray;
    }
  }

  input[type=text] {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

    &:focus {
      box-shadow: 0 0 5px rgba(81, 203, 238, 1);
      border: 1px solid rgba(81, 203, 238, 1);
    }
  }

  a {
    color: #6fb2e3;
    font-weight: bold;
    &:hover {
      color: #ccc;
    }
  }

  .loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(1, 1, 4, 0.29);

    .loader {
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }

}
