@import '~stylesheets/partials/mixins';

.search-controls {
  position: relative;
  z-index: 2;
  padding: 15px;
  font-size: 20px;
  text-align: center;

  .instructions {
    margin: 15px;

    .error-message {
      color: red;
      font-size: 18px;
      margin: 20px 0;
    }
  }

  .controls {
    margin: 15px;

    input[type=text] {
      width: 280px;
      height: 40px;
    }

    button {
      margin-left: 15px;
      padding: 11px 25px;
      font-size: 16px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: dodgerblue;
      border: none;
      border-radius: 15px;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #4CAF50;
      }
    }
  }

  .advanced-search {
    @include clearfix;
    text-align: center;

    .simple-drop-down {
      margin-left: 15px;
      display: inline-block;
      z-index: 1;
    }

    .simple-drop-down:first-of-type {
      z-index: 2;
    }
  }
}
