.search-results {
  position: relative;
  z-index: 1;
  list-style-type: none;
  width: 100%;
  height: calc(100% - 470px);
  overflow: auto;
  margin-top: 10px;

  .no-of-users {
    font-style: italic;
    font-size: 18px;
    color: #191919;
    width: 95%;
    margin: 0 auto 15px auto;
  }

  li {
    padding: 5px;
    &:hover {
      width: 60%;
      background: lightgreen;
      color: brown;
      font-weight: bold;
    }
    span {
      padding: 5px 15px;
      cursor: pointer;
    }
  }

  tbody {
    tr {
      cursor: pointer;
      &:hover {
        background: lightskyblue;
      }
    }
  }
}
