.search-view {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;

  .search-view__top-section {
    position: relative;

    h1 {
      font-size: 35px;
      text-align: center;
      font-family: Verdana;
      letter-spacing: 3px;
      color: white;
      background: #191919;
      margin: 0;
      padding: 33px;
    }

    .search_view__intro {
      padding: 58px;
      color: #eee;
      background: #2d3436;
      font-size: 20px;
      text-align: center;

      .company-name {
        margin-left: 6px;
      }
    }
  }
}
